<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <form action="/search" method="GET">

        <label for="email">Email: </label>
        <input type="text" name="email" id="email" required>
        <button>submit</button>
    </form>


    <a href="/">Back to home</a>
</body>

</html>